<!-- <h1>{{ question.question_text }}</h1> -->
<h1>{{ question }}</h1>
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice }}</li>
    {% endfor %}
</ul>
<!-- para get no es necesario {% csrf_token %} --> 
<form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <label>{{ choice.choice_text }}</label>
    <input value="{{ choice.id }}" name="choice" type="radio">
    {% endfor %}
    <input type="submit" value="Enviar">
</form>
