{% extends "base_user_account.html" %}

{% load bootstrap %}

{% load widget_tweaks %}

{% block content %}

<div id="formWrapper">

    <div id="form">
        <div class="logo">
            <h3 class="text-center head">Contraseña Actualizada</h1>
        </div>
        <div class="form-item-done">
            <h5>Por favor, inicie sesión</h5>
        </div>
        <div class="form-item-done">
            <a href="{% url 'login' %}" class="done">Identificate</a>
        </div>
    </div>
</div>

{% endblock %}