{% extends "base_user_account.html" %}

{% load bootstrap %}

{% load widget_tweaks %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <div id="formWrapper">

        <div id="form">
            <div class="logo">
                <h3 class="text-center head">Actualizar Contraseña</h1>
            </div>
            <div class="form-item">
                <p class="formLabel">{{ form.new_password1.label_tag }}</p>
                {{ form.new_password1 | append_attr:"class:form-style" }}
            </div>
            <div class="form-item">
                <p class="formLabel">{{ form.new_password2.label_tag }}</p>
                {{ form.new_password2 | append_attr:"class:form-style" }}
                {% if form.new_password1.errors or form.new_password2.errors%}
                    {% include "partials/alert.html" with msj=form.new_password1.errors tag="danger" %}
                    {% include "partials/alert.html" with msj=form.new_password2.errors tag="danger" %}
                {% endif %}
            </div>
            <div class="form-item">
                <input type="submit" class="login pull-right" value="Actualizar">
            </div>
        </div>
    </div>

</form>

{% endblock %}